#root {
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fake-list {
    text-decoration: none;
    list-style: none;
    position: absolute;
    width: 100%;
}

.list-item {
    padding: 0.5rem 1rem;
    border-bottom: rgba(192, 192, 192, 0.2) solid 1px;
}

.list-item:hover {
    background-color: gainsboro;
    color: #000;
    cursor: pointer;
}

.list-item:hover {
    transition: background-color 0.2s, color 0.2s ease-in-out;
}

.list {
    height: 500px;
    width: 400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    overflow-y: scroll;
    margin: 10px;
    outline: darkslategray solid 4px;
}

.list::-webkit-scrollbar {
    display: none;
}

.fake-list-wrapper {
    height: 100vh;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 0;
}

.enable-scroll {
    position: absolute;
    top: 100px;
    left: 20px;
}

.list-above {
    position: absolute;
    top: 0;
    left: 50%;
    width: 400px;
    height: 25.8%;
    transform: translateX(-50%);
    pointer-events: none;
    background: rgba(36, 36, 36, 0.6);
    z-index: 1000;
}

.list-below {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 400px;
    height: 25.8%;
    transform: translateX(-50%);
    pointer-events: none;
    background: rgba(36, 36, 36, 0.6);
    z-index: 1000;
}

.lazy-images {
    height: 100%;
    width: 100%;
}

.lazy-images img {
    display: block;
    margin: 20px auto;
    width: 40%;
    height: auto;
}

h1 {
    width: 100%;
    text-align: center;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
    color: transparent;
}

@keyframes skeleton-loading {
    0% {
        background-color: #F5F5F5;
    }
    100% {
        background-color: #E2E2E2;
    }
}

#memoized-component {
    background: red;
}