:root {
    color-scheme: light dark;
    background-color: #242424;

    font-family: Caladea, Georgia, "Times New Roman", Times, serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

